* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 2rem auto;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: calc(100% / 10);
    aspect-ratio: 1/1;
    border: 2px solid;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}